html,body {
  color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

.bg {
  position: absolute;
  background-color: #40255A;
  width: 100%;
  height: 100%;
}

.mainWrapper {
  display: inline-block;
  margin: 20px auto 0 auto;

  background-color: #40255A;
  border: 1px solid white;
  padding: 20px;
}

.personImage {
  display: inline-block;
  margin: 0 auto 0 auto;
  background-repeat: no-repeat;
  width: 200px;
  background-color: red;
  height: 200px;
  background-image: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/3/005/044/3f3/2b7e21b.jpg');
}

.linkedInLink {
  color: green;
}

.foutAntwoord {
  background-color: red;
}

.goedAntwoord {
  background-color: green;
}
