<!DOCTYPE HTML>

<html ng-app="pchack">
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<script type="text/javascript", src="app.js"></script>

	</head>

	<body ng-controller="testCtrl">
		<h1>Course item overview</h1>
		total number of course items: {{courseitems.length}}
		<ol>
			<li ng-repeat="courseitem in courseitems">
				<div >

					{{courseitem.comments[0].comment}}
				</div>
			</li>
		</ol>
		
	</body>
</html>

